.component-node-container {
  border: 2px solid rgb(15, 131, 154);
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.fault-input-field {
  padding: 10px;
  margin: 5px;
}

.file-upload-field {
  padding-left: 5px;
  margin: 5px;
  
  background-color: none;
}

.file-upload-label {
  padding-left: 10px;
  padding-top: 5px;
}